In [1]:
a= ['banana','apple','microsoft']
print(a[0])
print(a[1])
print(a[2])

banana
apple
microsoft

In [3]:
for element in a:
    print (element)

banana
apple
microsoft

In [5]:
b= [10,20,7]
total=0
for each in b:
    total=total+each
print(total)

37

In [22]:
c = list(range(1,100))
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [24]:
total2=0
for i in c:
    total2= total2 +i
    
print(total2)

4950

In [35]:
# sum of only multiples of 3
k = list(range(1,100))
#print(k)
sum=0
for no in k:
    if(no % 3 == 0):
        sum=sum + no
    sum=sum+0
     

print(sum)

1683

In [38]:
# all multiples of 3 and 5 among [1,100]
l= list(range(1,100))
for m in l:
    if(m%3==0 and m%5==0):
         print (m)

15
30
45
60
75
90