In [2]:
a = [2,4,6,8,10]
# need another list c which has all elements as double of a list

c=[]
for i in a:
    c.append(i*2)
    
print (c)

[4, 8, 12, 16, 20]

In [4]:
# another way

d=[x*2 for x in a]

print(d)

[4, 8, 12, 16, 20]

In [16]:
#[1,4,9,16,25,36]

e =[x**2 for x in range(1,7)]

print(e)

[1, 4, 9, 16, 25, 36]

In [13]:
#[36,25,16,9,4,1]

l= [x**2 for x in range(6,0,-1)]
print(l)

[36, 25, 16, 9, 4, 1]